/* MERN_Stu_FebMay26Mys\W4\D5\portfolio-project\css\custom.css */
/* Dark Theme Styles */

.dark-mode {
    background-color: #0f172a;
    color: white;
}

.dark-mode nav {
    background-color: #1e293b;
}

.dark-mode section {
    background-color: #0f172a;
}

.dark-mode .bg-blue-100 {
    background-color: #1e293b;
}

.dark-mode .bg-white {
    background-color: #1e293b;
}

.dark-mode .text-gray-700 {
    color: #e2e8f0;
}